@{
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}


@model IEnumerable<Office_Seat_Book_Entity.Booking>
@{
    ViewData["Title"] = "Booking_history";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <br />
    <a asp-area="" asp-controller="Admin" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>
    <br />
    <br />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a class="text-uppercase d-inline-block text-center" style="color:#003399;font-size:x-large" align="center"> Doctor <span class="font-weight-bold" style="font-size:x-large">Details</span></a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Booking Id</th>
                            <th>Employee Id</th>
                            <th>Food_Type</th>
                            <th>Type_Of_Request</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Shift Time</th>
                            <th>Seat No</th>
                            <th>Booking Status</th>
                            <th>Employee Status</th>
                            <th>Vehicle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model)
                        {
                            <tr>
                                <td>@booking.BookingID</td>
                                <td>@booking.EmployeeID</td>
                                <td>@booking.Food_Type</td>
                                <td>@booking.Type_Of_Request</td>
                                <td>@booking.From_Date.ToShortDateString()</td>
                                <td>@booking.To_Date.ToShortDateString()</td>
                                <td>@booking.Shift_Time</td>
                                <td>@booking.Seat_No</td>
                                <td>@booking.booking_Status</td>
                                <td>@booking.Emp_Status</td>
                                <td>@booking.Vehicle</td>
@*                                <td align="center"><a class="btn btn-info" asp-controller="Admin" asp-action="EditEmp" asp-route-EmpID="@employee.EmpID"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
*@                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

