@using Office_Seat_Book_Entity;
@model Tuple<List<Employee>,List<Booking>>;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

</head>

<body>
    @{
        int booked_and_came = 0;
        int booked_and_notcame = 0;
        int Total_Employees = 0;

        foreach (var item in Model.Item2)
        {

            if (item.Booking_Status == 1)
            {
                booked_and_came++;
            }
            else
            {
                booked_and_notcame++;
            }
        }

        foreach (var item in Model.Item1)
        {
            Total_Employees++;
        }

  

        <table>
            <thead>
                @foreach (var item in Model.Item2)
                {
                    <h1>Booking Done By Employees on @item.From_Date</h1>
                    break;
                }
                <tr>&nbsp;</tr>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Food</th>
                    <th>Request Type</th>
                    <th>Date</th>
                    <th>Shift Time</th>
                    <th>Seat No</th>
                    <th>Booking Status</th>
                    <th>vehicle(yes/no)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {

                    <tr>
                      <td>@item.BookingID</td>
                      <td>@item.employee.Name</td>
           
                        @if (@item.Food_Type == 0)
                        {
                            <td>Not Opted</td>
                        }
                        else
                        {
                            <td>Opted</td>

                        }
              
                        @if (@item.Type_Of_Request == 0)
                        {
                            <td>Daily</td>
                        }
                        else
                        {
                            <td>Weekly</td>

                        }
                   
                <td>@item.From_Date.ToShortDateString()</td>
                <td>@item.Shift_Time</td>
                <td>@item.Seat_No</td>
                    @if (item.Booking_Status == 1)
                    {
                    <td>Booked and Scanned</td>
                    }
                    else if (item.Booking_Status == 0)
                    {
                            <td>Booked and not Scanned</td>

                    }
                    else if (item.Booking_Status == 2)
                    {
                            <td>Booked and time exeeds</td>

                    }
                        @if (item.Vehicle == false)
                        {
                            <td> No</td>
                        }
                        else
                        {
                            <td>yes</td>

                        }
                      
                    </tr>

                  
                }
            </tbody>
        </table>
    }


    <p class=" font-weight-bolder">Total Employees : @Total_Employees</p>
    <p class=" font-weight-bolder">Booked and Scanned Employees:@booked_and_came</p>
    <p class=" font-weight-bolder">Booked and Not Came Employees:@booked_and_notcame</p>
    <p class=" font-weight-bolder">Not Booked and Not Came:@(Total_Employees - booked_and_notcame - booked_and_came)</p>

    
    <button id="downloadBtn">Download PDF</button>

}
</body>
<script>
    const downloadBtn = document.getElementById('downloadBtn');
    downloadBtn.addEventListener('click', () => {
        generatePDF();
    });
    function generatePDF() {
        const element = document.body;
        const options = {
            margin: 1,
            filename: 'myPDFFile.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 5 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        html2pdf().from(element).set(options).save();
    }
</script>