@model Office_Seat_Book_Entity.Employee
@{
    Layout = "~/Views/Shared/_profileLayout.cshtml";
}


  <div class="mask bg-gradient-primary">
    <img class="img"
        src="https://demos.creative-tim.com/marketplace/soft-ui-design-system-pro/assets/img/curved-images/curved1.jpg"
        alt="img">
   </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="profile">
                <form method="get" enctype="multipart/form-data">
          <div class="profile-pic">
                    @if (@Model.Gender == 'F')
                    {
                        <img src="https://www.svgrepo.com/show/428269/female.svg"
                                                             alt="Avatar" class="img-fluid my-5"  />
                    }



                    else
                    {
                        <img src="https://www.svgrepo.com/show/428252/male.svg"
                                                                  alt="Avatar" class="img-fluid my-5" />
                    }
          </div>
                
          <h2 class="text-center mt-3 mb-4">@Model.Role </h2>
          
          <hr>
           
          <div class="row">
            <div class="col-md-6 mb-3">
                            <p><strong>Email: @Model.Email</strong></p>
            </div></div>
            <div class="row">
            <div class="col-md-6 mb-4">
                            <p><strong>Phone: @Model.PhoneNo</strong></p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 mb-4">
                            <p><strong>Emp Id: @Model.EmpID</strong> </p>
            </div></div>
            <div class="row">
            <div class="col-md-6 mb-3">
                            <p><strong>Name: @Model.Name</strong> </p>
            </div>
          </div>


                <button type="button" class="btn btn-danger"><a asp-area="" asp-controller="Admin" asp-action="EditAdminProfile">Edit</a></button>
                    <button type="button" class="btn btn-danger"><a asp-controller="Admin" asp-action="Index">Home</a></button>
                </form>
                @if (ViewBag.status == "Ok")
                {
                    <br />



                    <br />
                    <div class="alert alert-success">
                        @ViewBag.message
                    </div>
                }
                else if (ViewBag.status == "Error")
                {
                    <br />



                    <br />
                    <div class="alert alert-danger">
                        @ViewBag.message
                    </div>
                }
        </div>
      </div>
    </div>
  </div>
