@model Office_Seat_Book_Entity.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4" style="background-color:lavender; box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1)">
        <div class=" image d-flex flex-column justify-content-center align-items-center">

            <strong>Admin Profile</strong>
            <hr />
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span style="color:cadetblue">name</span>
                <span style="color:black">@Model.Name</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <span style="color:cadetblue">phone no.</span>
                <span style="color:black">@Model.PhoneNo</span>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span style="color:cadetblue">email:</span>
                <span style="color:black">@Model.Email</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span style="color:cadetblue">gender: </span>
                <span style="color:black">@Model.Gender</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                <span style="color:cadetblue">secret key: </span>
                <span style="color:black">@Model.Secret_Key</span>
            </div>
            <div class="text mt-3">
                <span style="color:cadetblue">designation:</span>
                <span style="color:black">@Model.Designation</span>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span style="color:cadetblue">password</span>
                <span style="color:black">@Model.Password</span>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span style="color:cadetblue">role</span>
                <span style="color:black">@Model.Role</span>
            </div>
            
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span style="color:cadetblue">place</span>
                <span style="color:black">@Model.Place</span>
            </div>
            
        </div>
    </div>
</div>